<h1>Listing barcamp_sessions</h1>
<p> Default css , ugly code , many security hole .... <a href="http://github.com/wizztjh/campvote">fork and send me a pull request</a> if you guys want to change it ... </p>

<p>vote using twitter ex. #barcampmlk2 #railsforzombies +1 </p>
<p>set up your twitter account with Gladlycast. Vote by SMS. If you want to .... </p>
<table>
  <tr>
    <th>Hash tag</th>
     <th>Count</th>
    <% if user_signed_in? %>
    <th>Name</th>
    <th>Email</th>
    <th>Handphone</th>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @barcamp_sessions.each do |barcamp_session| %>
  <tr>
    <td><%= barcamp_session.hash_tag %></td>
    <td><%= barcamp_session.voters.count %></td>
     <% if user_signed_in? %>
    <td><%= barcamp_session.name %></td>
    <td><%= barcamp_session.email %></td>
    <td><%= barcamp_session.handphone %></td>
    <td><%= link_to 'Show', barcamp_session %></td>
    <td><%= link_to 'Edit', edit_barcamp_session_path(barcamp_session) %></td>
    <td><%= link_to 'Destroy', barcamp_session, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Barcamp session', new_barcamp_session_path if user_signed_in? %>
